.single_page_product
    height: 777px
    background-color: #f7f7f7
    background-repeat: no-repeat
    background-position: center

.product_description
    width: 1141px
    height: 730px
    border: 1px solid #eaeaea

.women_col_h1
    font-size: 14px
    font-weight: bold
    color: #f16d7f
    text-align: center
    line-height: 24px

.descr_h2
    font-size: 18px
    font-weight: 900
    color: #4d4d4d
    text-align: center
    line-height: 24px
    text-transform: uppercase