.sp
    margin-bottom: 763px
    background-color: #f7f7f7
    &__image
        height: 777px
        background-color: #f7f7f7
        text-align: center
    &__descr
        height: 730px
        background-color: #ffffff
        display: flex
        flex-direction: column
        align-items: center
        border: 1px solid #eaeaea
        margin-top: -86px
        position: absolute
        width: 1141px
        &_h1
            font-size: 14px
            font-weight: bold
            color: #f16d7f
            text-align: center
            line-height: 24px
            padding-top: 73px
        &_h2
            font-size: 18px
            font-weight: 900
            color: #4d4d4d
            text-align: center
            line-height: 24px
            text-transform: uppercase
            margin-top: 18px
        &_p
            font-size: 14px
            font-weight: 300
            color: #5e5e5e
            text-align: center
            line-height: 24px
            margin-top: 67px
            width: 625px
        &_bottom
            display: flex
            justify-content: center


            &_span1
                font-size: 14px
                font-weight: bold
                color: #b9b9b9
                text-align: center
                line-height: 24px
            &_span2
                font-size: 14px
                font-weight: bold
                color: #2f2f2f
                text-align: center
                line-height: 24px
    &__cost
        font-size: 24px
        font-weight: bold
        color: #ef5b70
        text-align: center
        line-height: 24px
        border-bottom: 1px solid #eaeaea
        padding-bottom: 50px

    &__choose
        display: flex
        justify-content: center
        padding-top: 60px
        &_block
            font-size: 14px
            font-weight: bold
            color: #2f2f2f
            text-align: center
            line-height: 24px
            text-transform: uppercase
            margin-right: 50px
    &__button
        text-align: center
        height: 55px
        width: 537px
        background-color: #ffffff
        border: 1px solid #ef5b70
        margin-top: 28px
        display: flex
        justify-content: center

        &_cart
            align-self: center
            padding-right: 15px
        &_add
            background-color: white
            border: none
            font-size: 16px
            font-weight: bold
            color: #ef5b70