* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
}

.center {
  padding: 0 calc(50% - 570px);
}

a {
  text-decoration: none;
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left,
.header__right,
.header__form {
  display: flex;
  align-items: center;
}

.header__cart {
  margin-right: 26px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 37px;
  font-size: 27px;
  font-weight: 300;
  color: rgba(34, 34, 34, 1);
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.logo__img {
  margin-right: 13px;
}

.letter_D {
  font-size: 27px;
  font-weight: 900;
  color: rgba(241, 109, 127, 1);
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.header__form {
  border-radius: 0px 3px 3px 0px;
  order: 1px solid rgba(230, 230, 230, 1);
}

.browse {
  width: 87px;
  height: 38px;
  border: 1px solid rgba(230, 230, 230, 1);
  font-size: 14px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: transparent;
  background-color: rgba(245, 245, 245, 1);
  position: relative;
}

.browse[open] .drop {
  display: flex;
  top: 20px;
  z-index: 1;
}

.input_search {
  width: 279px;
  height: 38px;
  border: 1px solid rgba(230, 230, 230, 1);
  font-size: 14px;
  font-weight: 300;
  color: rgba(164, 164, 164, 1);
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 32px;
}

input[class="input_search"]::placeholder {
  color: rgba(164, 164, 164, 1);
}

button {
  top: 32px;
  left: 515px;
  height: 40px;
  width: 38px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(230, 230, 230, 1);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: transparent;
}

.button {
  font-size: 15px;
  background-color: rgba(241, 109, 127, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: 0.03em;
  padding: 12px 16px;
  border: 1px solid rgba(241, 109, 127, 1);
}

.button:hover {
  border: 1px solid rgba(241, 109, 127, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(241, 109, 127, 1);
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu__link {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: rgba(34, 34, 34, 1);
  line-height: 26px;
  text-transform: uppercase;
}

.menu__list {
  position: relative;
}

.menu__list:hover .drop {
  display: flex;
}

.drop {
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  padding: 20px;
  display: none;
  top: 48px;
  text-align: left;
}

.drop_last {
  right: 0;
}

.drop_col {
  margin-right: 46px;
}

.drop_col:last-of-type {
  margin-right: 0;
}

.drop_ul {
  list-style: none;
}

.drop_h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 234px;
  margin-bottom: 8px;
}

.drop_a {
  font-size: 14px;
  color: #646464;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.drop_a:hover {
  color: #f16d7f;
}

.bc {
  height: 148px;
  background-color: #f8f3f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.bc_h3 {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}
.bc_link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.bc_link_active {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
}

.bc_link:not(:last-child):after {
  content: " / ";
}

.drop_list {
  list-style-type: none;
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
}

.shopping_cart_h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe {
  margin-top: 98px;
  height: 438px;
  background: url(img/2196.png), url(img/sub-back.png) no-repeat center;
  background-size: cover;
  padding-top: 111px;
}

.subscribe_feedback {
  display: flex;
  justify-content: space-between;
}

.girl_head {
  float: left;
}

.sub_1_text {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 26px;
  padding-top: 12px;
  padding-left: 111px;
  width: 425px;
}

.subscribe_1_h1_span {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.sub_1_h1 {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
  font-style: normal;
  padding-top: 10px;
}

.subscribe_email {
  padding-right: 146px;
  padding-top: 37px;
  align-items: center;
}
.subscribe_email_h1 {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 30px;
  text-transform: uppercase;
}

.subscribe_email_p {
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
  padding-bottom: 36px;
}

.button_subscribe {
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  padding: 18px 20px;
  background-color: rgba(241, 109, 127, 1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.footer {
  margin-top: 109px;
}
.logo_text_footer {
  background-image: url(img/bgi_footer.png);
  padding-right: 61px;
}

.footer_p {
  width: 430px;
  height: 207px;
  margin-top: 29px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  text-align: rleft;
  letter-spacing: 0.03em;
  line-height: 24px;
}
.data_footer {
  height: 349px;
}

.footer_logo_logic,
.data_footer {
  display: flex;
}
.footer_all_h1 {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 18px;
  margin-bottom: 45px;
  margin-top: 16px;
}

.data_footer_all_2 {
  margin-left: 129px;
  margin-right: 79px;
}

.foot_nav {
  height: 179px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.footer_nav_a {
  display: block;
  font-size: 16px;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 16px;
}
.blocks {
  height: 529px;
}

.per {
  background-image: url(img/banner-img.png);
  height: 100%;
  background-color: #fff;
}

.footer_bottom {
  height: 79px;
  background-color: #e6e6e6;
}

.footer_bottom_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

.footer_bottom_link {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
}
.footer_bottom_icons {
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  font-size: 16px;
  color: #b2b2b2;
  text-align: right;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  margin-right: 8px;
}

.icon:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.sort {
  width: 234px;
}

.product-box {
  flex-grow: 1;
}

.catalog_product {
  width: 848px;
}
